# Predicting The movies that user will like if he tells the movie that he likes

we have a dataset of nearly 2 lakh movies which are grouped on the based of genre like action,adventure,comedy,etc. In this project we will be using KNN clustering {K nearest neighbors is a simple algorithm that stores all available cases and classifies new cases based on a similarity measure (e.g., distance functions)}.
Here we will be recommending movies which have similar genre. NO ratings are involved so there wont be any noise so no need to look for outliers.

In [1]:
#importing the libraries
import pandas as pd
import numpy as np
import scipy
import sklearn

In [2]:
#importing the excel file 
df=pd.read_excel("D:\CV\Projects present in CV\Movie recommender system/movies.xlsx")
df.head()

,movieId,Movies,Adventure,Animation,Children,Comedy,Fantasy,Romance,Crime,Thriller,Drama,Horror,Sci-Fi,Mystery,War,Musical,Action,Documentary,NO Genre
0,1,Toy Story (1995),True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False
1,2,Jumanji (1995),True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False
2,3,Grumpier Old Men (1995),False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False
3,4,Waiting to Exhale (1995),False,False,False,True,False,True,False,False,True,False,False,False,False,False,False,False,False
4,5,Father of the Bride Part II (1995),False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False

# Cleaning The Dataset

In [3]:
#This will be used at last for recommendation
l=df

In [4]:
#to convert True and False to 1 and 0 This is done to develop a correlation b/w movies 
df1=(df.iloc[:,3:18]).astype(int)
df1.head()

,Animation,Children,Comedy,Fantasy,Romance,Crime,Thriller,Drama,Horror,Sci-Fi,Mystery,War,Musical,Action,Documentary
0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
df2=df.iloc[:,1]
df2.head()

0                      Toy Story (1995)
1                        Jumanji (1995)
2               Grumpier Old Men (1995)
3              Waiting to Exhale (1995)
4    Father of the Bride Part II (1995)
Name: Movies, dtype: object

In [6]:
#HEre we are concatenating the d=two data frames to get the dataframe in required format
movie_features_df=pd.concat([df2,df1],axis=1)

#this is how we can change the index to a column present in dataset
movie_features_df.set_index('Movies',inplace = True)

In [7]:
movie_features_df.head()

,Animation,Children,Comedy,Fantasy,Romance,Crime,Thriller,Drama,Horror,Sci-Fi,Mystery,War,Musical,Action,Documentary
Movies,,,,,,,,,,,,,,,
Toy Story (1995),1,1,1,1,0,0,0,0,0,0,0,0,0,0,0
Jumanji (1995),0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
Grumpier Old Men (1995),0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
Waiting to Exhale (1995),0,0,1,0,1,0,0,1,0,0,0,0,0,0,0
Father of the Bride Part II (1995),0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

###############################################################################################################################

# Analysis

In [8]:
#we have converted our data set to array matrix. to do this we used a library called SCIPY.SPARSE

from scipy.sparse import csr_matrix

movie_features_df_matrix = csr_matrix(movie_features_df.values)



#now we are using the ML library to import KNN algo{cossine similarity} NEARESTNEIGHBOUR is not classifier or regressor
#this is in the form of unsupervised machine learning
from sklearn.neighbors import NearestNeighbors



#the matrix used is cossine and the aalgo used is brute
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
#fit will make the model ready NN will be 5 by default p=2 is the eucleadian distance  parameter 
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [9]:
#this tells us the number of rows and columns present in dataset
movie_features_df.shape

(9742, 15)

In [10]:
#random function is used to take a random row from the dataset 
#the row number is stored in query_index
#shape{0} means to collect any one record  if shape{1} then feature is selected
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)

#this will try to find out which are the similar movies (.kneighbors) 
#Query pics up the whole vector(the complete row)
#reshaping as 1,-1 as we will get the data as series and we will convert it to array 
#n_neigh  is the kNN number 
#2 parameters distances and indices
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 10)

4619

In [11]:
#the row number generated by np.random function is observed here 
movie_features_df.iloc[(query_index)]

Animation      0
Children       0
Comedy         0
Fantasy        0
Romance        0
Crime          0
Thriller       0
Drama          0
Horror         0
Sci-Fi         1
Mystery        0
War            0
Musical        0
Action         1
Documentary    0
Name: Returner (Ritaanaa) (2002), dtype: int32

In [12]:
#distances is flattened 
#the 0th index we dont want as it will be the same movie which is most similar
#then the similar movies are recommended from the dataframe by putting the index of the movie
#{0} is the movie name and {1} is the year of release
#indices.flatten()[i]  we will get the movie name
#we are also getting a distance from distance.flatten
#the distance of allmovies will be one since the values are 1,0 rue and false so the correlation will be absolute 

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Returner (Ritaanaa) (2002):

1: Escape from the Planet of the Apes (1971), with distance of 2.220446049250313e-16:
2: Power Rangers (2017), with distance of 2.220446049250313e-16:
3: Beneath the Planet of the Apes (1970), with distance of 2.220446049250313e-16:
4: Battle for the Planet of the Apes (1973), with distance of 2.220446049250313e-16:
5: Conquest of the Planet of the Apes (1972), with distance of 2.220446049250313e-16:
6: Transformers: Revenge of the Fallen (2009), with distance of 2.220446049250313e-16:
7: Universal Soldier: The Return (1999), with distance of 2.220446049250313e-16:
8: Fantastic Four (2005), with distance of 2.220446049250313e-16:
9: Highlander II: The Quickening (1991), with distance of 2.220446049250313e-16:

# PROGRAM

In [13]:
#taking the name of movie as input so that a similar movie could be recommended
k=input("NAME OF THE MOVIE THAT YOU WATCHED:  ")

#l matrix is used here to get the index column(row number),  the index of movie_... is equated with name of movie entered by the user
query_index=l[movie_features_df.index==k].index[0]


#we get the row numnber
print(query_index)

#clustering is done and movies with same genre as the movie searched are taken  k is fixed here
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 10)

NAME OF THE MOVIE THAT YOU WATCHED:  Big Hero 6 (2014)
8546

In [14]:
#features of the movie searched are shown 1 is TRUE and 0 is FALSE
movie_features_df.iloc[(query_index)]

Animation      1
Children       0
Comedy         1
Fantasy        0
Romance        0
Crime          0
Thriller       0
Drama          0
Horror         0
Sci-Fi         0
Mystery        0
War            0
Musical        0
Action         1
Documentary    0
Name: Big Hero 6 (2014), dtype: int32

In [15]:
#this is the main loop with iterates and finds the recommendations

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Big Hero 6 (2014):

1: Mezzo Forte (1998), with distance of 0.0:
2: The Lego Batman Movie (2017), with distance of 0.0:
3: Gintama: The Final Chapter - Be Forever Yorozuya (2013), with distance of 0.0:
4: Priklyucheniya Kapitana Vrungelya (1979), with distance of 0.0:
5: Big Hero 6 (2014), with distance of 0.0:
6: Zootopia (2016), with distance of 0.13397459621556118:
7: Kung Fu Panda 2 (2011), with distance of 0.13397459621556118:
8: Asterix and Cleopatra (AstÃ©rix et ClÃ©opÃ¢tre) (1968), with distance of 0.13397459621556118:
9: Teenage Mutant Ninja Turtles: Turtles Forever (2009), with distance of 0.13397459621556118: